body{
    background-color: rgb(187, 25, 60);
    color: rgb(86, 15, 15);
    font-family: Roboto;
}
section{
background-color: rgb(177, 38, 121);
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
padding-left: 20px;
padding-right: 20px;
}
.chamada-texto{
    margin-right: 40px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
    color: black;
}
img{
    height: 200px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: rgb(163, 0, 120);
}
.chamada-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}